@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

.glowIn {
  color: white;
}

.glowIn span {
  animation: glow-in 0.6s both;
}

.blockquote {
  animation: borderPhase 6.5s;
  border: 5px solid transparent; 
  border-radius: 5px;
}

@keyframes borderPhase {
  from 0% {
    box-shadow: 0 0 15px 5px rgba(222, 3, 3, 0.7); 
  }
}

@keyframes glow-in {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

table {
    border: 5px solid transparent; 
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgba(14, 222, 3, 0.7); 
}
